<div class="p-3 border-bottom">
    <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
    </p>
    <p class="m-0">
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>
    <p class="text-right m-0">
        <%= link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
</div>