<div class="issue-list-header">
    <div class="container clearfix">
        <h1 class="issue-list-heading">所有活动都在下面了...</h1>
    </div>
</div>

<div class="container clearfix">
  <%= render partial: 'issue_list', locals: { issues: @issues } %>
</div>
