<div class="issue-list-header">
    <div class="container clearfix">
        <h1 class="issue-list-heading">所有活动都在下面了...</h1>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h1>New article</h1>
    <%= render 'form' %>
    <%= link_to 'Back', articles_path class:'btn btn-sm btn-success' %>
</div>